@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
body {
    background: rgb(0, 0, 0);
  }
  .container {
    width: 100%;
    margin:20px auto;
  }
  .carousel {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .slider {
    display: flex;
    height: 100%;
    width: 1000%;
    /* background: url(./images/background.jpg);
    background-attachment: scroll;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain; */
    transition: all 1s;
    position: absolute;
    
  }
  .backgroundSlider {
    height: 100%;
    width: 1000%;
    background: url(./images/background.jpg);
    background-attachment: fixed;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .slider section {
    flex-basis: 100%;
    justify-content: left;
    align-items: center;
    display: flex;
    font-size: 20px;
    color: #ffffff;
    
    /*-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
    /*-moz-animation: fadein 2s; /* Firefox < 16 */
    /* -ms-animation: fadein 2s; /* Internet Explorer */
    /*  -o-animation: fadein 2s; /* Opera < 12.1 */
    /*     animation: fadein 2s;*/
  }
  .left, .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .arrow i {
    font-size: 40px;
    -webkit-user-select: none;
    color: #ffffff;
  }
  .left {
    left: 10px;
  }
  .right {
    right: 10px;
  }
  .control ul {
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 0;
    
  }
  .control ul li {
    width: 20px;
    height: 15px;
    background: transparent;
    border: 2px darkgrey dotted;
    cursor: pointer;
    text-align: center;
    color: darkgrey;
  }
  .control ul li.selected {
    background: darkgrey;
    
  }

  #buddaimg{
    height:20px;
    width:200px;
    background: url(./images/monk.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-position: center; 

    -webkit-animation-name: bounce;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
  }

  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  @-webkit-keyframes bounce {
    0% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(23px);
    }
    60% {
      transform: translateY(-25px);
    }
    80%{
      transform: translateY(0);
    }
  }

/* 
.tech-slideshow {
  height: 200px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 200px;
  width: 2526px;
  background: url(./images/background.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}


@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
} */