
/* Font for left and right arrows on screen */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

/* Font for texts on screen */
@font-face {
  font-family: 'Klavika Lt';
  src: url('Klavika-Light.woff2') format('woff2'),
      url('Klavika-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
  
body {
  background: rgb(0, 0, 0);
}
.container {
  width: 100%;
  margin:20px auto;
  position: relative;
}

/*----------------Loader animation---------------------*/
#loader-wrapper {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow-y: hidden;
}

/* / Smoke animation for loader / */
#smoke {
  display:block;
  position: absolute;
  opacity: 0.25;
  height:100%;
  width:100%;
  background: url(./images/smoke.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  background-position: 50% 35%; 
}

/* / Monk Animation for loader / */
#loader-img {
  display:block;
  position: absolute;
  height:100%;
  width:100%;
  background: url(./images/monk.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 5%;
  background-position: center; 
  animation: fadeInandBounce ease 3s forwards; 
  animation-iteration-count: 1; 
}

/*Loader text style*/
#loader-txt {
  display:flex;
  position: relative;
  left: 48%;
  top: 65%;
  font-family: 'Klavika LT';
  color: #ffffff;
  font-size: 2vh;
  width: 100%;
}

#txt-section1 {
  animation: zoomInAnimation .8s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
  top:49%;
  left:49%;
}

#txt-section1::after{
    content:"";
    animation: changetxt 0.8s forwards;
} 

#txt-section2 {
  display:block;
  position: absolute;
  font-family: 'Klavika LT';
  color: #ffffff;
  animation: slideLeftAnimation linear 2s forwards; 
  animation-iteration-count: 1; 
  animation-delay: 0.80s;
  opacity: 0;
}   

    
/* / Fade in and Bounce animation for loading monk image / */
@keyframes fadeInandBounce {
  0% {
    transform: scale(0.5);
  }
  15% {
    transform: scale(1);
  }
  25% {
    transform: translateY(0.5%);
  }
  45% {
    transform: translateY(-0.5%);
  }
  65%{
    transform: translateY(0.5%);
  }
  85%{
    transform: translateY(0);
  }
  
}

/* / Text animations Of the Loader / */

@keyframes zoomInAnimation { 
  0% { 
      opacity: 1;
      transform: scale(0.5); 
  } 
  10% { 
      opacity: 1;
      transform: scale(1); 
  }
  20% {
    opacity: 1; 
    transform: scale(0.75); 
  }  
  30% { 
    opacity: 1;
    transform: scale(1); 
  }  

  90% { 
    transform: translateX(0);
    opacity: 1;
    content:"";
  }

  100% { 
    transform: translateX(-60%);
    opacity: 1;
    content:",";
  }
 
} 

@keyframes slideLeftAnimation {   

  0% { 
    opacity:0;
    transform: translateX(10%);
  }

  3% { 
    transform: translateX(25%);
    opacity:1 ;
  }  
  
  100%{
      opacity:1;
      transform: translateX(25%);
  }

} 

@keyframes changetxt {
  0% { content:"Patience!"; }
  90%{ content:"Patience!"}
  100% { content:"Patience,"; }
}

/*-------------End Loader animation--------------------*/


/*-------------Main body carousel style--------------------*/
.carousel {
  height: 100vh;
  overflow: hidden;
  position: relative;
  opacity: 0;
}

.backgroundSlider {
  height: 100%;
  width: 1000%;
  background: url(./images/background.jpg);
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 1s;
  position: absolute;
}

.slider {
  display: flex;
  height: 100%;
  width: 1000%;
  transition: all 1s;
  position: absolute;
}  
.slider section{
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-size: 20px;
  color: #ffffff;
}

.control {
  height: 100vh;
  overflow: hidden;
  position: relative;
  opacity: 1;
}

#ctrlBtns {
  z-index: 2002;
}

#pgNavTxt {
  display: flex;
  height: 100%;
  width: 1000%;
  transition: all 1s;
  position: absolute;
}  
#pgNavTxt section{
  flex-basis: 100%;
  justify-content: left;
  align-items: center;
  display: flex;
  font-size: 20px;
  color: #ffffff;
  height: 50px;
  bottom: 10%;
}

#siteLogo {
  z-index: 2000;
}

.left, .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.arrow i {
  font-size: 40px;
  -webkit-user-select: none;
  color: #ffffff;
}
  .left {
    left: 10px;
  }
  .right {
    right: 10px;
  }

/* Navigation controls */
.control ul {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 10px;
  left:4%;
  
}
.control ul li {
  width: 20px;
  height: 15px;
  background: transparent;
  border-top: 2px darkgrey dotted;
  border-left: 2px darkgrey dotted;
  border-bottom: 2px darkgrey dotted;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-family: 'Klavika LT';
  font-size: 2vh;
  color: darkgrey;
  
}
.control ul li.leftCtl {
  color:transparent;
}
.control ul li.selected {
  background-color: darkgray;
  padding: 1.5px;
  width: 17px;
  height: 12px;
  background-clip: content-box;
  color:transparent;
}
.control ul li.rightCtl {
  border-right: 2px darkgrey dotted;
  color:transparent;
}

span {    
  font-family: 'Klavika LT';
  color: #ffffff;
  position: absolute;
}

/* Screen text styles */
  .landingtop {
    margin-left: 0.3%;
    font-size:3vw;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    text-transform: capitalize;
  }

  .landingTxtLn1 {
    top: 10%;
  }

  .landingTxtLn2 {
    top: 18%;
  }

  .landingTxtLn3 {
    top: 26%;
  }
  
  .landingbottom{
    bottom:8%;
    left: 0.65%;
    font-size: 1.5vh;
  }

  .pgLeftTxt{
    transform: translateY(-50%);
    font-size:3vw;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    text-transform: uppercase;
  }

 .pgTxtLn1{
    top: 50%;
  }
  .pgTxtLn2{
    top: 57%;
  }
  .pgTxtLn3{
    top: 64%;
  }
  .pgTxtLn4{
    top: 71%;
  }
  .pgTxtLn5{
    top: 78%;
  }
  
  .pgRightTxt{
    text-align: right;
    transform: translateY(-50%);
    font-size:3vw;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    text-transform: uppercase;
  }  
  
  .contactTopTxt{
    text-align: right;
    transform: translateY(-50%);
    font-size:3vw;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    text-transform: uppercase;
  }  
  .contactMidTxt{
    text-align: right;
    transform: translateY(-50%);
    font-size:1vw;
    text-decoration: none;
  }
  .contactMidTxt a{
    text-decoration: underline;
    color: #ffffff;
  }

  .pgBottomTxt{
    bottom:8%;
    font-size: 1.0vh;
    text-align: left;
  }  

  /* Logo style */
  .logo{
    width:70%;
    height: 10%;
    position: absolute;
    bottom: 0;
    left:85%;
    background: url(./images/logo_mid.png);
    background-repeat: no-repeat;
  }


/* Text animations for carousel */

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  90%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fadeOutText {
  0% {
    opacity: 1;
  }
  10%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

/**
*Adjusting for different screen sizes
*/

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 399px) {
  .landingtop{font-size: 2vh; }
  .landingbottom{font-size: 1.2vh; bottom: 10%; }
  .landingTxtLn1 { top: 5%; }
  .landingTxtLn2 { top: 9%; }
  .landingTxtLn3 { top: 13%; }
  .pgLeftTxt{ margin-left: 1.5%; font-size: 2vh; }
  .pgRightTxt{ margin-left: 4.75%; font-size: 2vh; }
  .pgTxtLn1{ top: 50%; }
  .pgTxtLn2{ top: 54%; }
  .pgTxtLn3{ top: 58%; }
  .pgTxtLn4{ top: 62%; }
  .pgTxtLn5{ top: 66%; }
  .contactTopTxt{ margin-left: 6%; font-size: 2vh; }
  .contactMidTxt{ margin-left: 1.5%; font-size: 1.3vh;}
  .logo{ background: url(./images/logo_sm.png) no-repeat; left: 83%;}
  .pgBottomTxt{font-size: 1.2vh;  margin-left: 1.5%; bottom:8%;}
  .control ul li{font-size: 1.5vh;}
}

/* Small devices (portrait tablets and large phones, 400px and up) */
@media only screen and (min-width: 400px) {
  .landingtop{font-size: 2vh; }
  .landingbottom{font-size: 1.2vh; bottom: 7%; }
  .landingTxtLn1 { top: 5%; }
  .landingTxtLn2 { top: 9%; }
  .landingTxtLn3 { top: 13%; }
  .pgLeftTxt{ margin-left: 1%; font-size: 2vh; }
  .pgRightTxt{ margin-left: 6.5%; font-size: 2vh; }
  .pgTxtLn1{ top: 50%; }
  .pgTxtLn2{ top: 54%; }
  .pgTxtLn3{ top: 58%; }
  .pgTxtLn4{ top: 62%; }
  .pgTxtLn5{ top: 66%; }
  .contactTopTxt{ margin-left: 6.0%; font-size: 2.4vh; }
  .contactMidTxt{ margin-left: 2.75%; font-size: 1.3vh;}
  .logo{ background: url(./images/logo_sm.png) no-repeat; left: 83%;}
  .pgBottomTxt{font-size: 1.2vh;  margin-left: 1.3%; bottom:7%;}
  .control ul li{font-size: 1.5vh;}
}

/* Medior devices (portrait large tablets and very large phones, 400px and up) */
@media only screen and (min-width: 500px) {
  .landingtop{font-size: 2vh; }
  .landingbottom{font-size: 1.2vh; bottom: 7%; }
  .landingTxtLn1 { top: 5%; }
  .landingTxtLn2 { top: 9%; }
  .landingTxtLn3 { top: 13%; }
  .pgLeftTxt{ margin-left: 1%; font-size: 2vh; }
  .pgRightTxt{ margin-left: 6.5%; font-size: 2vh; }
  .pgTxtLn1{ top: 50%; }
  .pgTxtLn2{ top: 54%; }
  .pgTxtLn3{ top: 58%; }
  .pgTxtLn4{ top: 62%; }
  .pgTxtLn5{ top: 66%; }
  .contactTopTxt{ margin-left: 6.7%; font-size: 2.4vh; }
  .contactMidTxt{ margin-left: 4%; font-size: 1.3vh;}
  .logo{ background: url(./images/logo_sm.png) no-repeat; left: 83%;}
  .pgBottomTxt{font-size: 1.2vh;  margin-left: 1.3%; bottom:7%;}
  .control ul li{font-size: 1.5vh;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .landingtop{font-size: 3vh; }
  .landingbottom{font-size: 1.5vh; bottom: 7%; left: 0.95%; }
  .landingTxtLn1 { top: 5%; }
  .landingTxtLn2 { top: 9%; }
  .landingTxtLn3 { top: 13%; }
  .pgLeftTxt{ margin-left: 0.6%; font-size: 3vh; }
  .pgRightTxt{ margin-left: 7.0%; font-size: 3vh; }
  .pgTxtLn1{ top: 50%; }
  .pgTxtLn2{ top: 54%; }
  .pgTxtLn3{ top: 58%; }
  .pgTxtLn4{ top: 62%; }
  .pgTxtLn5{ top: 66%; }
  .contactTopTxt{ margin-left: 6.5%; font-size: 4.5vh; }
  .contactMidTxt{ margin-left: 5.2%; font-size: 1.75vh;}
  .logo{ background: url(./images/logo_mid.png) no-repeat; left: 90%;}
  .pgBottomTxt{font-size: 1.5vh;  margin-left: 3.8%; bottom:3.5%;}
  .control ul li{font-size: 1.75vh;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .landingtop{font-size: 6vh; }
  .landingbottom{font-size: 1.75vh; bottom: 7%; left: 0.95%; }
  .landingTxtLn1 { top: 5%; }
  .landingTxtLn2 { top: 12%; }
  .landingTxtLn3 { top: 19%; }
  .pgLeftTxt{ margin-left: 0.5%; font-size: 5vh; }
  .pgRightTxt{ margin-left: 6.2%; font-size: 5vh; }
  .pgTxtLn1{ top: 50%; }
  .pgTxtLn2{ top: 56%; }
  .pgTxtLn3{ top: 62%; }
  .pgTxtLn4{ top: 70%; }
  .pgTxtLn5{ top: 78%; }
  .contactTopTxt{ margin-left: 6.5%; font-size: 5.5vh; }
  .contactMidTxt{ margin-left: 6.2%; font-size: 1.75vh;}
  .logo{ background: url(./images/logo_mid.png) no-repeat; left: 90%;}
  .pgBottomTxt{font-size: 1.5vh;  margin-left: 3.2%; bottom:3.5%;}
  .control ul li{font-size: 2vh;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .landingtop{font-size: 8vh; }
  .landingbottom{font-size: 1.85vh; bottom: 7%; left: 0.8%; }
  .landingTxtLn1 { top: 5%; }
  .landingTxtLn2 { top: 15%; }
  .landingTxtLn3 { top: 25%; }
  .pgLeftTxt{ margin-left: 0.5%; font-size: 7vh; }
  .pgRightTxt{ margin-left: 6%; font-size: 7vh; }
  .pgTxtLn1{ top: 50%; }
  .pgTxtLn2{ top: 58%; }
  .pgTxtLn3{ top: 66%; }
  .pgTxtLn4{ top: 74%; }
  .pgTxtLn5{ top: 82%; }
  .contactTopTxt{ margin-left: 6.5%; font-size: 7vh; }
  .contactMidTxt{ margin-left: 6.9%; font-size: 1.75vh;}
  .logo{ background: url(./images/logo_lrg.png) no-repeat; left: 87%;}
  .pgBottomTxt{font-size: 1.5vh;  margin-left: 2.7%; bottom:3.5%;}
  .control ul li{font-size: 2vh;}
}

/* Extra large devices (Extra large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
  .landingtop{font-size: 8vh; }
  .landingbottom{font-size: 1.85vh; bottom: 7%; left: 0.8%; }
  .landingTxtLn1 { top: 5%; }
  .landingTxtLn2 { top: 15%; }
  .landingTxtLn3 { top: 25%; }
  .pgLeftTxt{ margin-left: 0.5%; font-size: 7vh; }
  .pgRightTxt{ margin-left: 6.5%; font-size: 7vh; }
  .pgTxtLn1{ top: 50%; }
  .pgTxtLn2{ top: 58%; }
  .pgTxtLn3{ top: 66%; }
  .pgTxtLn4{ top: 74%; }
  .pgTxtLn5{ top: 82%; }
  .contactTopTxt{ margin-left: 6.5%; font-size: 7vh; }
  .contactMidTxt{ margin-left: 6.9%; font-size: 1.75vh;}
  .logo{ background: url(./images/logo_lrg.png) no-repeat; left: 87%;}
  .pgBottomTxt{font-size: 1.5vh;  margin-left: 2.3%; bottom:3.5%;}
  .control ul li{font-size: 2vh;}
}


